---
import UserCard from "@components/dashboard/UserCard.astro";
import Layout from "../layouts/Layout.astro";
import BasicTable from "@components/BasicTable.astro";
import BalanceCard from "@components/dashboard/BalanceCard.astro";
import ProductsTable from "@components/dashboard/ProductsTable.astro";
import Profits from "@components/dashboard/Profits.astro";
import GraphicDoughnutButton from "@components/GraphicDoughnutButton.astro";
import { getUserFromCookies } from "@lib/auth";
import { getUrl } from "@lib/helpers";
import Graphics from "@components/graphics/Graphics.astro";

export const prerender = false;

const user = await getUserFromCookies(Astro.cookies);
if (!user) {
    return Astro.redirect("/auth");
}
//Obtener la informacion del usuario de la base de datos
const url = getUrl();
const token = Astro.cookies.get("gab-access-token")!.value;
const response = await fetch(url + "/api/dashboard", {
    method: "GET",
    headers: { id: user.id, token: token },
});

const { allData: data } = await response.json();
let profits = 29000;
---

<Layout>
    <div class="flex flex-col lg:flex-row max-h-full w-min mx-auto">
        <section class="flex lg:justify-center p-10 pb-0">
            <UserCard name={data.userName + " " + data.userLastName} />
        </section>
        <section class="flex flex-col w-full p-10 gap-10">
            <div class="flex flex-col lg:flex-row gap-10">
                <div class="flex flex-col gap-10 h-full">
                    <div class="flex gap-10">
                        <BalanceCard balance={data.amount} />
                        <Profits profits={profits} />
                    </div>
                    <ProductsTable title="Productos" data={data.products} />
                </div>
                <BasicTable title="Ventas" data={data.sells} />
            </div>
            <Graphics sells={data.sells} />
        </section>
    </div>
</Layout>
